:root {
  --color: #ff4500;
}

@import url('https://kit-pro.fontawesome.com/releases/v5.14.0/css/pro.min.css');

@font-face {
  font-family: BebasNeueBold;
  src: url(BebasNeueBold.ttf);
}

*{
	user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

html {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

body{
	display: block;
	color: #a8a8aa;
}

.infonotify-container {
	width: 17%;
	background-color: rgba(0, 0, 0, 0.70);
	border-bottom: 3px solid var(--color);	
	margin: 0;
	position: absolute;
	top: 50%;
	left: 10%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
	border-radius: 10px;
	display: none;
}

.infonotifytext {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 2px;
	padding-right: 2px;	
	vertical-align: middle;
	text-align: center;
	font-size: 25px;
	font-family: BebasNeueBold;
	color: #ffffff;
}

#infobindcolor {
	color: var(--color);
}

.halloweenposs-container {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.0);
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
	display: none;
}

.halloweenpossinfosettings {
	width: 16%;
	height: 86%;
	background-color: rgba(0, 0, 0, 0.70);
	border-bottom: 3px solid var(--color);	
	margin: 0;
	position: absolute;
	top: 50%;
	left: 90%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
	border-radius: 10px;
}

.closehalloweendecoration {
	position: absolute;
	margin: 0;
	top: 2.5%;
	left: 92.5%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
}

.poscreatormaintext {
	width: 100%;
	height: 20%;
	background-color: rgba(0, 0, 0, 0.0);	
	margin: 0;
	position: absolute;
	top: 12%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
}

.poscreatortext {
	margin: 0;
	color: #ffffff;
	font-size: 30px;
	text-decoration: none;
	text-align: center;
	float: center;
	overflow: hidden;
	z-index: 99999999;
	font-family: BebasNeueBold;
	border: none;
}

.posspacemaintext {
	width: 100%;
	height: 20%;
	background-color: rgba(0, 0, 0, 0.0);	
	margin: 0;
	position: absolute;
	top: 18.5%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
}

.posspacetext {
	margin: 0;
	color: #ffffff;
	font-size: 22px;
	text-decoration: none;
	text-align: center;
	float: center;
	overflow: hidden;
	z-index: 99999999;
	font-family: BebasNeueBold;
	border: none;
}

.posspacebuttons {
	width: 100%;
	height: 20%;
	background-color: rgba(0, 0, 0, 0.0);	
	margin: 0;
	position: absolute;
	top: 20%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
}

.buttontypespace {
	display: inline-block;
	margin: 0;
	background-color: rgba(255, 255, 255, 1);
	color: #000000;
	font-size: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	text-align: center;
	float: center;
	overflow: hidden;
	z-index: 99999999;
	font-family: BebasNeueBold;
	border: none;
	width: 25%;
}

.buttontypespace.active  {
  background-color: var(--color);
  color: #ffffff;
}

#spacebuttonworld  {
	position: absolute;
	margin: 0;
	top: 19%;
	left: 35%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 99999999;
}

#spacebuttonlocal  {
	position: absolute;
	margin: 0;
	top: 19%;
	left: 65%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 99999999;
}

.buttontypelist {
	display: inline-block;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.0);
	color: #ffffff;
	height: 100%;
	width: 30%;
	font-size: 14px;
	margin-left: 1px;
	margin-right: 1px;
	text-decoration: none;
	overflow: hidden;
	z-index: 99999999;
	font-family: BebasNeueBold;
	border: none;
}

.buttontypelist.active  {
  border-bottom: 16px solid var(--color);
  color: #ffffff;
}

.posmodemaintext {
	width: 100%;
	height: 20%;
	background-color: rgba(0, 0, 0, 0.0);	
	margin: 0;
	position: absolute;
	top: 27%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
}

.posmodetext {
	margin: 0;
	color: #ffffff;
	font-size: 22px;
	text-decoration: none;
	text-align: center;
	float: center;
	overflow: hidden;
	z-index: 99999999;
	font-family: BebasNeueBold;
	border: none;
}

.posmodebuttons {
	width: 100%;
	height: 20%;
	background-color: rgba(0, 0, 0, 0.0);	
	margin: 0;
	position: absolute;
	top: 28.5%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
}

.buttontypemode {
	display: inline-block;
	margin: 0;
	background-color: rgba(255, 255, 255, 1);
	color: #000000;
	font-size: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	text-align: center;
	float: center;
	overflow: hidden;
	z-index: 99999999;
	font-family: BebasNeueBold;
	border: none;
	width: 25%;
}

.buttontypemode.active  {
  background-color: var(--color);
  color: #ffffff;
}


#posmoretranslate  {
	position: absolute;
	margin: 0;
	top: 19%;
	left: 35%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 99999999;
}

#posmorerotation  {
	position: absolute;
	margin: 0;
	top: 19%;
	left: 65%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 99999999;
}

.poscamerasettingsmaintext {
	width: 100%;
	height: 20%;
	background-color: rgba(0, 0, 0, 0.0);	
	margin: 0;
	position: absolute;
	top: 38%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
}

.poscamerasettingstext {
	margin: 0;
	color: #ffffff;
	font-size: 22px;
	text-decoration: none;
	text-align: center;
	float: center;
	overflow: hidden;
	z-index: 99999999;
	font-family: BebasNeueBold;
	border: none;
}

.poscamerasettingsspeedmaintext {
	width: 100%;
	height: 20%;
	background-color: rgba(0, 0, 0, 0.0);	
	margin: 0;
	position: absolute;
	top: 42%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
	padding-left: 7%;
}

.poscamerasettingsspeedtext {
	margin: 0;
	color: #ffffff;
	font-size: 15px;
	padding-left: 7px;
	padding-right: 7px;
	text-decoration: none;
	text-align: center;
	float: left;
	overflow: hidden;
	z-index: 99999999;
	font-family: BebasNeueBold;
	border: none;
}

.poscamerasettingslookxspeedmaintext {
	width: 100%;
	height: 20%;
	background-color: rgba(0, 0, 0, 0.0);	
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
	padding-left: 7%;
}

.poscamerasettingslookxspeedtext {
	margin: 0;
	color: #ffffff;
	font-size: 15px;
	padding-left: 7px;
	padding-right: 7px;
	text-decoration: none;
	text-align: center;
	float: left;
	overflow: hidden;
	z-index: 99999999;
	font-family: BebasNeueBold;
	border: none;
}

.poscamerasettingslookyspeedmaintext {
	width: 100%;
	height: 20%;
	background-color: rgba(0, 0, 0, 0.0);	
	margin: 0;
	position: absolute;
	top: 57.5%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
	padding-left: 7%;
}

.poscamerasettingslookyspeedtext {
	margin: 0;
	color: #ffffff;
	font-size: 15px;
	padding-left: 7px;
	padding-right: 7px;
	text-decoration: none;
	text-align: center;
	float: left;
	overflow: hidden;
	z-index: 99999999;
	font-family: BebasNeueBold;
	border: none;
}

.posmovementsettingsmaintext {
	width: 100%;
	height: 20%;
	background-color: rgba(0, 0, 0, 0.0);	
	margin: 0;
	position: absolute;
	top: 68%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
}

.posmovementsettingstext {
	margin: 0;
	color: #ffffff;
	font-size: 22px;
	text-decoration: none;
	text-align: center;
	float: center;
	overflow: hidden;
	z-index: 99999999;
	font-family: BebasNeueBold;
	border: none;
}

.posmovementsettingstranslatemaintext {
	width: 100%;
	height: 20%;
	background-color: rgba(0, 0, 0, 0.0);	
	margin: 0;
	position: absolute;
	top: 73%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
	padding-left: 7%;
}

.posmovementsettingstranslatetext {
	margin: 0;
	color: #ffffff;
	font-size: 15px;
	padding-left: 7px;
	padding-right: 7px;
	text-decoration: none;
	text-align: center;
	float: left;
	overflow: hidden;
	z-index: 99999999;
	font-family: BebasNeueBold;
	border: none;
}

.posmovementsettingsrotationmaintext {
	width: 100%;
	height: 20%;
	background-color: rgba(0, 0, 0, 0.0);	
	margin: 0;
	position: absolute;
	top: 83%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
	padding-left: 7%;
}

.posmovementsettingsrotationtext {
	margin: 0;
	color: #ffffff;
	font-size: 15px;
	padding-left: 7px;
	padding-right: 7px;
	text-decoration: none;
	text-align: center;
	float: left;
	overflow: hidden;
	z-index: 99999999;
	font-family: BebasNeueBold;
	border: none;
}

.cameraspeed {
	-webkit-appearance: none;
	appearance: none;	
	position: absolute;
	margin: 0;
	background-color: rgba(202, 205, 198, 1.0);
	color: #ffffff;
	font-size: 35px;
	text-decoration: none;
	text-align: center;
	top: 36%;
	left: 49%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	z-index: 99999999;
	width: 96%;
	height: 13%;
	outline: none;
	display: block;
}
    
#cameraspeeddata {
	background: linear-gradient(to right, var(--color) 0%, var(--color) 50%, #ccccc8 50%, #ccccc8 100%);
	border-radius: 5px;
	width: 86%;
	height: 0.5%;
	outline: none;
	-webkit-appearance: none;
}

.cameraspeed::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%; 
  background-color: #fffefb;
}

.lookspeedx {
	-webkit-appearance: none;
	appearance: none;	
	position: absolute;
	margin: 0;
	background-color: rgba(202, 205, 198, 1.0);
	color: #ffffff;
	font-size: 35px;
	text-decoration: none;
	text-align: center;
	top: 43.5%;
	left: 49%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	z-index: 99999999;
	width: 96%;
	height: 13%;
	outline: none;
	display: block;
}
    
#lookspeedxdata {
	background: linear-gradient(to right, var(--color) 0%, var(--color) 50%, #ccccc8 50%, #ccccc8 100%);
	border-radius: 5px;
	width: 86%;
	height: 0.5%;
	outline: none;
	-webkit-appearance: none;
}

.lookspeedx::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%; 
  background-color: #fffefb;
}

.lookspeedy {
	-webkit-appearance: none;
	appearance: none;	
	position: absolute;
	margin: 0;
	background-color: rgba(202, 205, 198, 1.0);
	color: #ffffff;
	font-size: 35px;
	text-decoration: none;
	text-align: center;
	top: 51.5%;
	left: 49%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	z-index: 99999999;
	width: 96%;
	height: 13%;
	outline: none;
	display: block;
}
    
#lookspeedydata {
	background: linear-gradient(to right, var(--color) 0%, var(--color) 50%, #ccccc8 50%, #ccccc8 100%);
	border-radius: 5px;
	width: 86%;
	height: 0.5%;
	outline: none;
	-webkit-appearance: none;
}

.lookspeedy::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%; 
  background-color: #fffefb;
}

.translatesnap {
	-webkit-appearance: none;
	appearance: none;	
	position: absolute;
	margin: 0;
	background-color: rgba(202, 205, 198, 1.0);
	color: #ffffff;
	font-size: 35px;
	text-decoration: none;
	text-align: center;
	top: 67%;
	left: 49%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	z-index: 99999999;
	width: 96%;
	height: 13%;
	outline: none;
	display: block;
}
    
#translatesnapdata {
	background: linear-gradient(to right, var(--color) 0%, var(--color) 50%, #ccccc8 50%, #ccccc8 100%);
	border-radius: 5px;
	width: 86%;
	height: 0.5%;
	outline: none;
	-webkit-appearance: none;
}

.translatesnap::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%; 
  background-color: #fffefb;
}

.rotationsnap {
	-webkit-appearance: none;
	appearance: none;	
	position: absolute;
	margin: 0;
	background-color: rgba(202, 205, 198, 1.0);
	color: #ffffff;
	font-size: 35px;
	text-decoration: none;
	text-align: center;
	top: 77%;
	left: 49%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	z-index: 99999999;
	width: 96%;
	height: 13%;
	outline: none;
	display: block;
}
    
#rotationsnapdata {
	background: linear-gradient(to right, var(--color) 0%, var(--color) 50%, #ccccc8 50%, #ccccc8 100%);
	border-radius: 5px;
	width: 86%;
	height: 0.5%;
	outline: none;
	-webkit-appearance: none;
}

.rotationsnap::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%; 
  background-color: #fffefb;
}

.poshalloweenposypedatamaintext {
	width: 80%;
	height: 20%;
	background-color: rgba(0, 0, 0, 0.0);	
	margin: 0;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
}

.poshalloweenposypedatatext {
	margin: 0;
	color: #ffffff;
	font-size: 15px;
	text-decoration: none;
	text-align: center;
	float: center;
	overflow: hidden;
	z-index: 99999999;
	font-family: BebasNeueBold;
	border: none;
}

.createhalloweenposbutton {
	position: absolute;
	margin: 0;
	background-color: rgba(0, 0, 0, 1);
	border-bottom: 3px solid var(--color);
	color: #ffffff;
	font-size: 32px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 6px;
	padding-right: 6px;
	text-decoration: none;
	text-align: center;
	top: 84%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 99999999;
	width: 60%;
	border-radius: 8px;
}

.createhalloweenposbutton:hover {
	background: var(--color);
	text-decoration: none;	
	color: #ffffff;
}

.halloweenprogressbar-container {
	width: 40%;
	height: 15%;
	background-color: rgba(0, 0, 0, 0.70);
	border-bottom: 3px solid var(--color);	
	margin: 0;
	position: absolute;
	top: 90%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
	border-radius: 10px;
	display: none;
}

.halloweenprogressbartext {
	position: absolute;
	margin: 0;
	text-decoration: none;
	text-align: center;
	top: 30%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);	
	font-size: 40px;
	color: #ffffff;
	text-align:center;
}

.halloweenprogressbarmaincontainer {
	width: 90%;
	height: 25%;
	background-color: rgba(255, 255, 255, 0.70);
	margin: 0;
	position: absolute;
	top: 70%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
	border-radius: 5px;
}

.halloweenprogressbarmaincontainerdata {
	width: 0%;
	height: 100%;
	background-color: var(--color);
	z-index: 9999999;
}

.halloweencurving-container {
	width: 60%;
	height: 50%;
	background-color: rgba(0, 0, 0, 0.70);
	border-bottom: 3px solid var(--color);	
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
	border-radius: 5px;
	display: none;
}

.headerhalloweencurving {
	position: absolute;
	width:100%;
	height: 8%;
	color: #ffffff;
	display: flex;
	background-color: rgba(0, 0, 0, 1.0);
	border-bottom: 3px solid var(--color);  
	flex-direction: row;
	flex-wrap: wrap;
	margin-right: -50%;
	transform: translate(-50%, -50%);  
	top: 4.5%;
	left: 50%;	
}

.headerhalloweencurvingtext {
	position: absolute;
	margin: 0;
	font-size: 22px;
	color: #ffffff;
	text-align: center;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
}

.closehalloweencurving {
	position: absolute;
	margin: 0;
	top: 5%;
	left: 97%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
}

.halloowencurvingmaintext {
	position: absolute;
	margin: 0;
	text-decoration: none;
	text-align: center;
	top: 8%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);	
	font-size: 45px;
	color: var(--color);
	text-align:center;
	font-family: BebasNeueBold;
}


.halloowencurvingtext {
	position: absolute;
	margin: 0;
	text-decoration: none;
	text-align: center;
	top: 18%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);	
	font-size: 35px;
	color: #ffffff;
	text-align:center;
	font-family: BebasNeueBold;
}


.pumpkintype1 {
	background-color: rgba(0, 0, 0, 0.4);
	border-bottom: 2px solid var(--color);
	width: 25%;
	height: 60%;
	margin: 0;
	position: absolute;
	top: 60%;
	left: 18%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;  
	padding: 1.7%;
}

.pumpkintype1 img {
	position: absolute;
	max-width:60%;
	max-height:60%;
	top: 48%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
}

.pumpkintype1select {
	position: absolute;
	margin: 0;
	background-color: rgba(0, 0, 0, 1);
	border-bottom: 3px solid var(--color);
	color: #ffffff;
	font-size: 32px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 6px;
	padding-right: 6px;
	text-decoration: none;
	text-align: center;
	top: 85%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 99999999;
	width: 60%;
	border-radius: 8px;
}

.pumpkintype1select:hover {
	background: var(--color);
	text-decoration: none;	
	color: #ffffff;
}

.pumpkintype1text {
	position: absolute;
	margin: 0;
	text-decoration: none;
	text-align: center;
	top: 15%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);	
	font-size: 40px;
	color: #ffffff;
	text-align:center;
}

.pumpkintype2 {
	background-color: rgba(0, 0, 0, 0.4);
	border-bottom: 2px solid var(--color);
	width: 25%;
	height: 60%;
	margin: 0;
	position: absolute;
	top: 60%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;  
	padding: 1.7%;
}

.pumpkintype2 img {
	position: absolute;
	max-width:60%;
	max-height:60%;
	top: 48%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
}

.pumpkintype2select {
	position: absolute;
	margin: 0;
	background-color: rgba(0, 0, 0, 1);
	border-bottom: 3px solid var(--color);
	color: #ffffff;
	font-size: 32px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 6px;
	padding-right: 6px;
	text-decoration: none;
	text-align: center;
	top: 85%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 99999999;
	width: 60%;
	border-radius: 8px;
}

.pumpkintype2select:hover {
	background: var(--color);
	text-decoration: none;	
	color: #ffffff;
}

.pumpkintype2text {
	position: absolute;
	margin: 0;
	text-decoration: none;
	text-align: center;
	top: 15%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);	
	font-size: 40px;
	color: #ffffff;
	text-align:center;
}

.pumpkintype3 {
	background-color: rgba(0, 0, 0, 0.4);
	border-bottom: 2px solid var(--color);
	width: 25%;
	height: 60%;
	margin: 0;
	position: absolute;
	top: 60%;
	left: 82%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;  
	padding: 1.7%;
}

.pumpkintype3 img {
	position: absolute;
	max-width:60%;
	max-height:60%;
	top: 48%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
}

.pumpkintype3select {
	position: absolute;
	margin: 0;
	background-color: rgba(0, 0, 0, 1);
	border-bottom: 3px solid var(--color);
	color: #ffffff;
	font-size: 32px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 6px;
	padding-right: 6px;
	text-decoration: none;
	text-align: center;
	top: 85%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 99999999;
	width: 60%;
	border-radius: 8px;
}

.pumpkintype3select:hover {
	background: var(--color);
	text-decoration: none;	
	color: #ffffff;
}

.pumpkintype3text {
	position: absolute;
	margin: 0;
	text-decoration: none;
	text-align: center;
	top: 15%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);	
	font-size: 40px;
	color: #ffffff;
	text-align:center;
}

*{
	font-family: BebasNeueBold;
}
